In [2]:
list(range(1,5))

[1, 2, 3, 4]

In [16]:
2020%4

0

In [17]:
2020%100

20

In [18]:
2000%400

0

In [21]:
def leap_year(year):
    if year % 4 == 0 and year % 100 != 0:
        print(f'{year} is a leap year')
    elif year %4 == 0  and year % 100 == 0 and year % 400 ==0:
        print(f'{year} is a leap year')
    else:
        print(f'{year} is not a leap year')

In [26]:
list(map(leap_year, [1800, 1900, 2100, 2200, 2300,2500]))

1800 is not a leap year
1900 is not a leap year
2100 is not a leap year
2200 is not a leap year
2300 is not a leap year
2500 is not a leap year

[None, None, None, None, None, None]

In [34]:
l = [[1,1],[1,1],[2,1]]

In [35]:
set(tuple(item) for item in l)

{(1, 1), (2, 1)}

In [51]:
def cubid(x,y,z,n):
    print([[i, j, k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k != n])

In [53]:
cubid(1,1,1,2)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [125]:
arr = list(map(int, input().split()))

57 57 -57 57

In [126]:
arr

[57, 57, -57, 57]

In [127]:
max_val = max(arr)
new_arr = [item for item in arr if item<max_val]
print(max(new_arr))

-57

In [181]:
students =[]
for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name,score])
grades = [student[1] for student in students]
no_lowest = [no_lowest for no_lowest in grades if no_lowest > min(grades)]
second_lowest_students = [student[0] for student in students if student[1] == second_lowest]
for i in second_lowest_students:
    print(i)

5
harry
37.21
berry
37.21
tina
37.2
angela
41
juan
41

In [192]:
grades = [student[1] for student in students]
no_lowest = [no_lowest for no_lowest in grades if no_lowest > min(grades)]
second_lowest_students = [student[0] for student in students if student[1] == min(no_lowest)]
second_lowest_students.sort()
for i in second_lowest_students:
    print(i)

berry
harry

In [189]:
second_lowest_students.sort()
for i in second_lowest_students:
    print(i)

berry
harry

In [193]:
marksheet = []
for _ in range(0,int(input())):
    marksheet.append([input(), float(input())])

3
harry
37
berry
37
juan
20

In [197]:
set([marks for name, marks in marksheet])

{20.0, 37.0}

In [194]:
second_highest = sorted(list(set([marks for name, marks in marksheet])))[1]
print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest]))

list

In [204]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()

2
juan 2 3
felipe 4 5
felipe

In [221]:
print(f'{sum(student_marks.get(query_name))/len(student_marks.get(query_name)):.2f}')

4.50

In [222]:
print(f'{avg:.2f}')

4.50

In [223]:
n = ['']*4

In [31]:
def print_instruction(values):
    print(values)

def append_instruction(values, append_value):
    return values.append(append_value)

def insert_instruction(values, insert_value, position):
    return values.insert(position, insert_value)

def remove_instruction(values,remove_value):
    return values.remove(remove_value)

def execute_instruction(instructions, work_list):
    for i in instructions:
        if i[0].lower() == 'print':
            print_instruction(work_list)
        elif i[0].lower() == 'append':
            append_instruction(work_list, int(i[1]))
        elif i[0].lower() == 'insert':
            insert_instruction(work_list,int(i[2]),int(i[1]))
        elif i[0].lower() == 'remove':
            remove_instruction(work_list,int(i[1]))
        elif i[0].lower() == 'sort':
            work_list.sort()
        elif i[0].lower() == 'pop':
            work_list.pop()
        elif i[0].lower() == 'reverse':
            work_list.reverse()

In [32]:
N = int(input())
instructions = []
work_list=[]
for i in range(N):
    instructions.append(input().split(' '))
    
execute_instruction(instructions, work_list)

n

ValueError: invalid literal for int() with base 10: 'n'

In [38]:
n = int(input())
l = []
for _ in range(n):
    s = input().split()
    cmd = s[0]
    args = s[1:]
    if cmd !="print":
        cmd += "("+ ",".join(args) +")"
        print(cmd)
        eval("l."+cmd)
    else:
        print(l)

2
insert 2 3 4
insert(2,3,4)

TypeError: insert() takes exactly 2 arguments (3 given)

In [60]:
integer_list = map(int, input().split())

1 2 3

In [61]:
integer_list

In [62]:
hash(tuple(list(integer_list)))

2528502973977326415